* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.left-panel h2 {
  margin-top: 0;
}

#input-text {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
}

.input-length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.input-length label {
  margin-right: 10px;
}

.input-length input {
  width: 70px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

#divide-text {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.right-panel {
  width: 50%;
  height: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.right-panel h2 {
  margin-top: 0;
}

.tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.tab-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab-btn.copied {
  background-color: #4CAF50;
  color: white;
}
